<div class="form-group">
  <label>Name</label>
  <input type="text" [(ngModel)]="nametext" class="form-control" placeholder="Name">
</div>
<div class="form-group">
  <label>School Name</label>
  <select class="form-control" [(ngModel)]="schooltext">
    <option>Bilkent University</option>
    <option>Baskent Uni</option>
    <option>ODTU</option>
  </select>
</div>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="School Name" aria-label="Assignee" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<div class="form-group">
  <label>CGPA</label>
  <input type="text" [(ngModel)]="cpgatext" class="form-control" placeholder="CGPA">
</div>
<button type="button" class="btn btn-primary" (click)="clickNew()">ADD STUDENT</button>

<div *ngIf="error && show">
  <div class="alert alert-danger" role="alert">
    Student is NOT added!
  </div>
</div>

<div *ngIf="!error && show">
  <div class="alert alert-success" role="alert">
    Student is added!
  </div>
</div>